@{
    ViewBag.Title = "ResumeManagement";
    Layout = "~/Views/Shared/_LayoutResume.cshtml";
}
<div id="leftPan">
     <br />
      <br />
      <br />
  	  <a href="/Resume/PersonalInformation"><h2>Edit<span> Resume</span></h2><br /></a>
      <a href="/Resume/ViewResume"><h2>View<span> Resume</span></h2><br /></a>
      <a href="/Resume/DeleteResume"><h2>Delete<span> Resume</span></h2><br /></a>
	
   
    <div id="leftblocktwoPan">   
  </div>
  </div>