@{
    ViewBag.Title = "Admin_Jobs";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
@model OnlineJobPortal.Models.Job
  <div id="leftPan">
             <h2>Administrative Jobs <span>in Pakistan</span></h2><br /><br /><br />
      <div id="leftblockonePan">
   
	    @foreach (var job in ViewBag.jobsData)
        {
         
		<h4><span>-</span> @job.JobName</h4>
		<p>@job.JobDescription</p>
        <div id="leftblockoneLinkPan">
			<ul>
                <li class="comments"></li>  
				<li class="more">@Html.ActionLink("details", "Job_Detail", new { id=@job.JobID })</li>
			</ul>
		</div>
        <p class="border"><img src="~/Images/blank.gif" alt="" /></p>
     }
     
    </div>
      </div>
  
  