@{
    ViewBag.Title = "ApplyResult";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
<div id="leftPan">
     <h2>You successfully applied for this job.</h2>
    <div id="leftblocktwoPan">
	</div>
  </div>
