@{
    ViewBag.Title = "Engineering_Jobs";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
  <div id="leftPan">
             <h2>Engineering Jobs <span>in Pakistan</span></h2><br />
    <div id="leftblockonePan">
	
		<h4><span>1.</span>Receptionist</h4>
		<p>Wisdompad is a provider of Content Writing, Social Media Management, Online Marketing, Administrative Support, Virtual Assistance, 
            Affiliate Marketing and Search Engine Optimization services to foreign clients in USA, Canada, Australia, UK and </p>
        <div id="leftblockoneLinkPan">
			<ul>
                <li class="comments"></li>
				<li class="more"><a href="#">more</a></li>
			</ul>
		</div>
        <p class="border"><img src="~/Images/blank.gif" alt="" /></p>
        <h4><span>2.</span>Internee Reseach Analyst</h4>
		<p> Note: Stipend amount for this intership is PKR10000 to PKR12000 Note: Internship 8 WeeksNote: Timings for this internship will be from 1PM-10PM 
            (Monday-Saturday) Note: This is an intership leading to job opportunity. At the end of the int </p>
         <div id="leftblockoneLinktwoPan">
			<ul>
                <li class="comments"></li>
				<li class="more"><a href="#">more</a></li>
			</ul>
		</div>
    </div>
   
  <div id="leftblocktwoPan">   
  </div>
  </div>
  