@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

  <div id="leftPan">
  	<h2>what is <span>Opportunity.com</span></h2><br />
	<p>Opportunity.com is Pakistan's leading jobs site. It help jobseekers in finding the jobs
         of their own choice, while providing a unique platform for employers to advertise different 
         career opportunities available in their organization and receive resumes from the potential candidates online.</p>
	<p>Opportunity.com is a leading jobs site of Pakistan with over 23,000 employers and more than 1 million active and engaged web users.
         High standards and special concerns about consumer's privacy entitled Mustakbil.com for the seal of certification by TRUSTe - world 
        leader in consumer privacy protection. </p>
    <div id="leftblockonePan">
		<h2>Latest <span>Jobs</span></h2>
		<h4><span>1.</span>HR Executive </h4>
		<p>We are small but rapidly growing Recruitment Digital Publishing Media company looking to expand its operations. 
            We are looking for HR Executives to join our team as soon as possible. You'll be provided with massive learning and growth 
            opportunity and a comfortable working environment. </p>
         <div id="leftblockoneLinkPan">
			<ul>
                <li class="comments"></li>
				<li class="more"><a href="#">more</a></li>
			</ul>
		</div>
        <p class="border"><img src="~/Images/blank.gif" alt="" /></p>
		
        <h4><span>2.</span>Web Developer</h4>
		<p>We at PakLingo, hiring for the vacant position of "Web Developer". Candidate who meet the below mentioned criteria are encouraged to apply.</p>
    </div>
      <div id="leftblockoneLinktwoPan">
			<ul>
                <li class="comments"></li>
				<li class="more"><a href="#">more</a></li>
			</ul>
		</div>
   
    <div id="leftblocktwoPan">   
  </div>
      </div>
 