@{
    ViewBag.Title = "Job_Home";
    Layout = "~/Views/Shared/_LayoutJob.cshtml";
}
        <h3>@ViewBag.userid</h3>
        <h3>@ViewBag.email</h3>
  <div id="leftPan">
     <br />
      <br />
      <br />
  	  <a href="/Job/AddJob"><h2>Add<span> Job</span></h2><br /></a>
      <a href="/Job/EditJob1"><h2>Edit<span> Job</span></h2><br /></a>
      <a href="/Job/DeleteJob"><h2>Delete<span> Job</span></h2><br /></a>
     @* <a href="/Job/SeekEmployees"><h2>Seek<span>Employees</span></h2><br /></a>*@
	
   
    <div id="leftblocktwoPan">   
  </div>
  </div>
  
