@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

  <div id="leftPan">
  	    <h3>@ViewBag.userid</h3>
        <h3>@ViewBag.email</h3>
    <div id="leftblockonePan">
		<h2>Categ<span>ories</span></h2><br />
		<p><img src="~/Images/Accounting.jpg" title="accounting" alt="" width="100" height="58" border="0"/><h4><a href="/User/Accounting_Jobs">Accounting</a></h4></p>
         <p><img src="~/Images/Admin.gif" title="admin" alt="" width="100" height="58" border="0"/><h4><a href="/User/Admin_Jobs">Admin</a></h4></p>
         <p><img src="~/Images/Marketing.jpg" title="marketing" alt="" width="100" height="58" border="0"/><h4><a href="/User/Marketing_Jobs">Marketing</a></h4></p>
        <p><img src="~/Images/Engineering.jpg" title="Engineering" alt="" width="100" height="58" border="0"/><h4><a href="/User/Engineering_Jobs">Engineering</a></h4></p>
        <p><img src="~/Images/IT.jpg" title="IT" alt="" width="100" height="58" border="0"/><h4><a href="/User/IT_Jobs">IT</a></h4></p>
        
     
   </div>
   
    <div id="leftblockonePan1">    
        <br />  <br />  <br /> <br />   
        <p><img src="~/Images/HRes.gif" title="HR" alt="" width="100" height="58" border="0"/><h4><a href="/User/HR_Jobs">HR</a></h4></p>
        <p><img src="~/Images/Hardware.gif" title="Hardware" alt="" width="100" height="58" border="0"/><h4><a href="/User/Hardware_Jobs">Hardware</a></h4></p><br />
        <p><img src="~/Images/Banking.jpg" title="Banking" alt="" width="100" height="58" border="0"/><h4><a href="/User/Banking_Jobs">Banking</a></h4></p><br />
        <p><img src="~/Images/Finance.jpg" title="Finance" alt="" width="100" height="58" border="0"/><h4><a href="/User/Finance_Jobs">Finance</a></h4></p><br />
        <p><img src="~/Images/Telecom.jpg" title="Telecom" alt="" width="100" height="58" border="0"/><h4><a href="/User/Telecom_Jobs">Telecom</a></h4></p>          

    </div> 
      <div id="leftblocktwoPan">   
  </div>
  </div>
  