@{
    ViewBag.Title = "SearchNotFound";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
<div id="leftPan">
             <h2>Jobs <span>in Pakistan</span></h2><br /><br /><br />
      <div id="leftblockonePan">
   
	    <h4>No Job Found!</h4>
     
    </div>
      </div>
